<section class="purple-square">
    <div class="content-wrapper">
      <img src="/assets/dept logo.svg" alt="DEPT® logo">
      <h1>DEPT® weather planner</h1>
      <div class="read-more-container">
        <div class="read-more">
          <p>
            Picture this: an application that doesn't just tell you the weather, 
            but also helps you plan your activities around it. Imagine knowing exactly the perfect day to plan that hike, 
            or when to avoid the outdoor concert due to an unexpected shower. That's exactly what the Dept Weather Planner offers you.
            <span class="read-more-text">
              Built with cutting-edge technologies, our weather planner brings you accurate, real-time weather data with a slick and user-friendly interface. 
              But it's not just a weather app; it's an intuitive daily planner that syncs with the weather. With a range of activities to choose from, 
              it suggests the best options based on current and forecasted weather conditions. 
            </span>
          </p>
          <button class="read-more-btn">Read more</button>
        </div>
      </div>
    </div>
  </section>
